<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>


	<!--  Fake Urna  -->
	<servlet>
		<servlet-name>urnaServlet</servlet-name>
		<servlet-class>ovoto.math.unifi.it.server.urna.FakeUrna</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>urnaServlet</servlet-name>
		<url-pattern>/ovoto/fakeUrna/*</url-pattern>
	</servlet-mapping>





	<!--  Voting  -->
	<servlet>
		<servlet-name>votingServlet</servlet-name>
		<servlet-class>ovoto.math.unifi.it.server.voter.VotingServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>votingServlet</servlet-name>
		<url-pattern>/ovoto/voting</url-pattern>
	</servlet-mapping>



	<!-- admin -->
	<filter>
		<filter-name>EnsureAuth</filter-name>
		<filter-class>ovoto.math.unifi.it.server.admin.EnsureAuthentication</filter-class>
		<description>
			The EnsureAuthenticated Filter
        </description>
	</filter>
	<filter-mapping>
		<filter-name>EnsureAuth</filter-name>
		<url-pattern>/ovoto/admin/*</url-pattern>
	</filter-mapping>


	<servlet>
		<servlet-name>usersAdminServlet</servlet-name>
		<servlet-class>ovoto.math.unifi.it.server.admin.UserServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>usersAdminServlet</servlet-name>
		<url-pattern>/ovoto/admin/users</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>ballotsAdminServlet</servlet-name>
		<servlet-class>ovoto.math.unifi.it.server.admin.BallotServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ballotsAdminServlet</servlet-name>
		<url-pattern>/ovoto/admin/ballots</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>generateSetupForm</servlet-name>
		<servlet-class>ovoto.math.unifi.it.server.admin.GenerateSetupForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>generateSetupForm</servlet-name>
		<url-pattern>/ovoto/admin/generateSetupForm</url-pattern>
	</servlet-mapping>




	<!--  Authentication  -->

	<servlet>
		<servlet-name>authenticationServlet</servlet-name>
		<servlet-class>ovoto.math.unifi.it.server.admin.EnsureAuthentication</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authenticationServlet</servlet-name>
		<url-pattern>/ovoto/authenticate</url-pattern>
	</servlet-mapping>



	<!--  EMAILS  -->


	<servlet>
		<servlet-name>emailsWorker</servlet-name>
		<servlet-class>
			ovoto.math.unifi.it.server.admin.EmailsWorker
    </servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>emailsWorker</servlet-name>
		<url-pattern>/workers/sendEmails</url-pattern>
	</servlet-mapping>
	
	
	<security-constraint>
		<web-resource-collection>
  	    	<web-resource-name>workers</web-resource-name>
		   	<url-pattern>/workers/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

   <!-- incoming mails -->
	<servlet>
  		<servlet-name>mailhandler</servlet-name>
  		<servlet-class>ovoto.math.unifi.it.server.MailHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
  		<servlet-name>mailhandler</servlet-name>
  	<url-pattern>/_ah/mail/*</url-pattern>
	</servlet-mapping>
	<security-constraint>
  	<web-resource-collection>
  	    <web-resource-name>mail</web-resource-name>
    	<url-pattern>/_ah/mail/*</url-pattern>
  	</web-resource-collection>
  		<auth-constraint>
    	<role-name>admin</role-name>
  	</auth-constraint>
  	
</security-constraint>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Ovoto.html</welcome-file>
	</welcome-file-list>

</web-app>
